body {
    background-color: whitesmoke;
}

.welcome {
    background-color: lightgrey;
}

.hogwarts-img {
    width: 200px;
    margin: 0 auto;
}

.sorting-form {
    width: 50%;
    text-align: center;
    margin: 20px auto 20px auto;
}

#firstYears .card {
    min-width: 200px;
}