body {
    background-color: whitesmoke;
}

.welcome {
    background-color: lightgrey;
}

.hogwarts-img {
    width: 200px;
    margin: 0 auto;
}

.first-years {
    background-color: blue;
}

.voldys-army {
    background-color: green;
}